# Nix Files
*.nix linguist-detectable=true

# YAML Configuration
*.yaml linguist-detectable=true
*.yml linguist-detectable=true

# Markdown Documentation
*.md linguist-detectable=true
*.md merge=union

# Bash Scripts
*.sh linguist-detectable=true
*.bash linguist-detectable=true
*.bashrc linguist-detectable=true

# C++ Source Code
*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.h linguist-detectable=true

# Python Scripts
*.py linguist-detectable=true